body {
    margin: 0px;
    font-family: Calibri
}

a {
    background: white;
    color: blue;
    height: 40px;
    margin: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    background: blue;
    height: 15vh;
}
.task-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columns of equal width */
    gap: 10px; /* space between grid items */
    padding: 10px;
  }
  
  .task {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
  }
  