<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <a href="{{ url_for('indexLogged') }}">Home</a>
        <a href="{{ url_for('create') }}">Create Task</a>
        <a href="{{ url_for('delete') }}">Delete Task</a>
        <a href="{{ url_for('statistics') }}">Statistics</a>
        <a href="{{ url_for('logout') }}">Log Out</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>   
</body>
</html>