{% extends 'baseLogged.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1>Homepage</h1>

<div class="task-container">
    {% for key, value in tasks.items() %}
        <div class="task">
            <p>{{ key }}: {{ value[0] }} / {{ value[1] }}</p><br>

            <p>Progress: {{ (value[0] / value[1] * 100) | int }}% </p><br>
            
            <form action="{{ url_for('increase') }}" method="POST">
                <!-- Automatically send task name -->
                <input type="hidden" name="task" value="{{ key }}">

                <input type="hidden" name="current_progress" value="{{ value[0] }}">
                
                <!-- User just inputs the amount -->
                <input type="number" name="added_progress" placeholder="Add progress" required>
                
                <button type="submit">Add</button>
            </form>
            
            <form action="{{ url_for('decrease') }}" method="POST">
                <input type="hidden" name="task" value="{{ key }}">

                <input type="hidden" name="current_progress" value="{{ value[0] }}">

                <input type="number" name="removed_progress" placeholder="Remove progress" required>

                <button type="submit">Remove</button>
            </form>
        </div>
    {% endfor %}
</div>



{% endblock %}