{% extends 'baseLogged.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1>Homepage</h1>

<div class="task-container">
    {% for key, value in tasks.items() %}
        <div class="task">
            <p>{{ key }}: {{ value[0] }} / {{ value[1] }}</p>
            
            <form action="{{ url_for('increase') }}" method="POST">
                <!-- Automatically send task name -->
                <input type="hidden" name="task" value="{{ key }}">

                <input type="hidden" name="current_progress" value="{{ value[0] }}">

                <input type="hidden" name="max_progress" value="{{ value[1] }}">
                
                <!-- User just inputs the amount -->
                <input type="number" name="amount" placeholder="Add amount" required>
                
                <button type="submit">Update</button>
            </form>
        </div>
    {% endfor %}
</div>



{% endblock %}